@import "../../assets/styles/variables.scss";

.legend {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .label {
        @extend .label-font;
        margin-left: 5px;
        margin-right: 5px;
    }

}

