//  @Arnaud: this class is duplicated in contribution-graph component.
//  Where should it be placed to be usable in both components ?


.legend {
    display: flex;
    flex-direction: row;
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ebedf0;
        margin: 1px;
    }
    //CSS REFACTO NEEDED: common use with contribution-graph
    .label {
        color: #414660;
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

}

