
#container {
    display: flex;
    flex-direction: row;

    #dayColumn {
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 87px;
        justify-content: space-between;
        font-size: 11px;
        color: #414660;
        margin-right: 10px;
        //margin-top: 20px; for later, after month will be displayed
    }

    #canvas {
        display: flex;
        flex-direction: row;

        .circle {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: #ebedf0;
            margin: 1px;
        }
    }

}