
#container {
    display: flex;
    flex-direction: column;

    #canvas {
        display: flex;
        flex-direction: row;
        color: #414660;
        margin-bottom: 15px;

        .day-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;  
            margin: -2px 15px 3px 4px;
            .day-label {
                font-size: 10px;
                height: 10px;
                width: 10px;
                text-align: center;
            }
        }

        .month-label {
            font-size: 10px;
            width: 10px;
            height: 10px;
            overflow: visible;
            margin-bottom: 10px;
          }
        .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ebedf0;
            margin: 1px;
        }
    }

}
