@import "../../assets/styles/variables.scss";

#container {
    display: flex;
    flex-direction: column;

    #canvas {
        @extend .label-font;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;

        .day-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;  
            margin: -2px 15px 3px 4px;
            .day-label {
                @extend .unit-size;
                text-align: center;
            }
        }

        .month-label {
            @extend .unit-size;
            overflow: visible;
            margin-bottom: 10px;
          }
    }

}
