<div id="container">
  <div id="canvas">
    <div class="day-column">
      <div class="month-label"></div>
      <div *ngFor="let day of days" class="day-label">{{ day }}</div>
    </div>
      <div *ngFor="let col of columns">
            <div class="month-label">
              {{ monthChanged(col) ? index2month(col) : null }}
            </div>
        <div class="graph-row" *ngFor="let row of numRow(col)">
          <div
            class="circle" 
            [style.backgroundColor]="circleColor(col, row)"
            [ngbTooltip]="computeTooltipText(col, row)">
          </div>
        </div>
      </div>
  </div>
  <ng2-color-legend [colorScheme]="colorScheme"></ng2-color-legend>
</div>